Flask
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
python-dotenv
requests
gunicorn
psycopg2-binary
PyMySQL
openpyxl
pandas
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
click
plotly
matplotlib
seaborn
kaleido
scikit-learn
Faker
python-docx
Pillow
qrcode
pytest
sqlalchemy
